<div>


<h4>Reviews</h4>
<blockquote ng-repeat="review in product.reviews">
  <b>Stars: {{review.stars}}</b></br>
  {{review.body}}</br>
  <cite>by: {{review.author}}</cite></br>
</blockquote>
<form name="reviewForm"
ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
  <blockquote>
    <b>Stars: {{reviewCtrl.review.stars}}</b></br>
    {{reviewCtrl.review.body}}</br>
    <cite>by: {{reviewCtrl.review.author}}</cite></br>
  </blockquote>
  <select ng-model="reviewCtrl.review.stars" required>
    <option value="1">1 star </option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
  </select>
  <textarea ng-model="reviewCtrl.review.body" required></textarea>
  <label>by:</label>
  <input ng-model="reviewCtrl.review.author" type="email" required/>
  <div>
    reviewForm is {{reviewForm.$valid}}
  </div>
  <input type="submit" value="Submit" />
</form>
</div>
